# Creating  list-
#A list can contain any Python type. Although it's not really common, a list can also contain a mix of Python types including strings, floats, booleans, etc.

In [69]:

list_1=[1,2,3,4,5,6,(1,2,3,45),{'Ritesh',12345,2,3,4},{'one':'Ritesh','age':36},'rohit',True,False,1.5]

#using all function and mathod in list

#len function  in list
print(len(list_1))

#append mathod using in list
list_1.append([1,2,3,4])
print(list_1)

#indexing  & slicing mathod in list 
print(list_1[0])
print(list_1[0:])
print(list_1[5:6])
print(list_1[0:-1])
print(list_1[-6:-2])
print(list_1[0:-1:2])
print(list_1.index(6)) #------->its define the address of element 
print(list_1)
print(list_1[6][2])
print(list_1[8]['one'])

13
[1, 2, 3, 4, 5, 6, (1, 2, 3, 45), {2, 3, 'Ritesh', 4, 12345}, {'one': 'Ritesh', 'age': 36}, 'rohit', True, False, 1.5, [1, 2, 3, 4]]
1
[1, 2, 3, 4, 5, 6, (1, 2, 3, 45), {2, 3, 'Ritesh', 4, 12345}, {'one': 'Ritesh', 'age': 36}, 'rohit', True, False, 1.5, [1, 2, 3, 4]]
[6]
[1, 2, 3, 4, 5, 6, (1, 2, 3, 45), {2, 3, 'Ritesh', 4, 12345}, {'one': 'Ritesh', 'age': 36}, 'rohit', True, False, 1.5]
[{'one': 'Ritesh', 'age': 36}, 'rohit', True, False]
[1, 3, 5, (1, 2, 3, 45), {'one': 'Ritesh', 'age': 36}, True, 1.5]
5
[1, 2, 3, 4, 5, 6, (1, 2, 3, 45), {2, 3, 'Ritesh', 4, 12345}, {'one': 'Ritesh', 'age': 36}, 'rohit', True, False, 1.5, [1, 2, 3, 4]]
3
Ritesh

In [55]:
#del function in the list
print(list_1)

del list_1[1] #----------->in del we can del item using index
print(list_1)

#remove method using in list
print(list_1)
list_1.remove((10))#----------->hare we can remove element
print(list_1)

[10, 10, True, False, 1.5, [1, 2, 3, 4], [1, 2, 3, 4, 5, 6, 7, 8]]
[10, True, False, 1.5, [1, 2, 3, 4], [1, 2, 3, 4, 5, 6, 7, 8]]
[10, True, False, 1.5, [1, 2, 3, 4], [1, 2, 3, 4, 5, 6, 7, 8]]
[True, False, 1.5, [1, 2, 3, 4], [1, 2, 3, 4, 5, 6, 7, 8]]

In [23]:
#pop element in the list
print(list_1)
print(list_1.pop(2))#---------->pop method using index
print(list_1)

[1, 6, {'one': 'Ritesh', 'age': 36}, 'rohit', True, False, 1.5, [1, 2, 3, 4]]
{'one': 'Ritesh', 'age': 36}
[1, 6, 'rohit', True, False, 1.5, [1, 2, 3, 4]]

In [50]:
# update element in the list
print(list_1)
list_1[1]=1,2,3,4,5
print(list_1)
list_1[0]=10
print(list_1)
list_1[2]=10
print(list_1)

[10, (1, 2, 3, 4, 5), 'rohit', True, False, 1.5, [1, 2, 3, 4], [1, 2, 3, 4, 5, 6, 7, 8]]
[10, (1, 2, 3, 4, 5), 'rohit', True, False, 1.5, [1, 2, 3, 4], [1, 2, 3, 4, 5, 6, 7, 8]]
[10, (1, 2, 3, 4, 5), 'rohit', True, False, 1.5, [1, 2, 3, 4], [1, 2, 3, 4, 5, 6, 7, 8]]
[10, (1, 2, 3, 4, 5), 10, True, False, 1.5, [1, 2, 3, 4], [1, 2, 3, 4, 5, 6, 7, 8]]

In [52]:
# count element in the list
print(list_1)
list_1.count(10)

[10, (1, 2, 3, 4, 5), 10, True, False, 1.5, [1, 2, 3, 4], [1, 2, 3, 4, 5, 6, 7, 8]]

2

In [4]:
#type function in the list
type(list_1)

list

In [3]:
list_1=[1,2,3,4,5,6,(1,2,3,45),{'Ritesh',12345,2,3,4},{'one':'Ritesh','age':36},'rohit',True,False,1.5]

list

In [12]:
# exdend method in the list
list2=['orange','banana']
list_1.extend(list2)
print(list_1)

[1, 2, 3, 4, 5, 6, (1, 2, 3, 45), {2, 3, 4, 12345, 'Ritesh'}, {'one': 'Ritesh', 'age': 36}, 'rohit', True, False, 1.5, 'orange', 'banana', 'orange', 'banana', 'orange', 'banana']

In [10]:
# Sort method using in list
list3=[4,6,8,9,12,15,13,10]#------------> it will sorting all the data
list3.sort()
list3

[4, 6, 8, 9, 10, 12, 13, 15]

In [15]:
#copy method using in list
new=list2.copy()
print(new)

['orange', 'banana']