# string formating

In [4]:
name='Ritesh'
age=36
print(f'your name is {name} and your age is {age}')

your name is Ritesh and your age is 36

ask user to give 3 numbers and you have to print average of this three numbers using string formating

In [7]:
date,month,year=input('pls enter your date of birth month and year comma separated:').split(',')
print(f'all three number average is {int(date)+int(month)+int(year)//3}')

pls enter your date of birth month and year comma separated:2,2,1990
all three number average is 691

string indexing

In [10]:
language='python'
# p=0=-6
# y=1=-5
# t=2=-4
# h=3=-3
# o=2=-2
# n=1=-1
#if we want to print t
print(language[2])
print(language[-4])

t
t

string slicing

In [13]:
lang='python'
#if we want to print multiple words like py
print(lang[0:2])
#if we want to print pyt
print(lang[0:3])

py
pyt

step argument

In [15]:
name='Ritesh'
print(name[0:5])

Rites

In [18]:
#if we want to print Rts
print(name[0:6:2])#-----it will skip one step

Rts

In [40]:
#if we want reverse of name than
print(name[6::-1])
print(name[4::-2])
print(name[-1::-1])

hsetiR
stR
hsetiR

ask user name and print back user name in reverse order.

In [42]:
user=input('please enter your name ')
print(f'your reverse name is {user[-1::-1]}')

please enter your name Ritesh Tiwari
your reverse name is irawiT hsetiR

String method

In [43]:
#len function
name='Rohan'
print(len(name))

5

In [46]:
#lower method
print(name.lower())

rohan

In [47]:
#upper method
print(name.upper())

ROHAN

In [48]:
#title method
print(name.title())

Rohan

In [ ]:
#count method
nam='Ritesh Tiwari'
print(nam.count('i'))

take user name input
(1)user name lenth
(2)count the char

In [3]:
user,char=input('please enter your name and char').split()
print(f'user name lenth is {len(user)} count of the char {user.count(char)}')

please enter your name and charriteshhh h
user name lenth is 8 count of the char 3

strip method

In [4]:
name='    ramesh      '# so many space is there so if want to remove that space we use strip method
print(name.strip())

ramesh

In [21]:
#center method

name='rahul'
print(name.center(6,"s"))

rahuls

operators

In [30]:
#add
name='syam'
name=name+'tiwari'
print(name)
age=24
age=age+1
age

syamtiwari

25

#and ,or operator

In [38]:
name="rohit"
age=26
if name=='rohit'and age==27:
    print('true')
else:
    print('false')

false

In [39]:
name="rohit"
age=26
if name=='rohit'or age==27:
    print('true')
else:
    print('false')

true

In [ ]:
exercise: Ask users name and age.If user name start with (a or A)and age is above 10 then 
    print 'you are eligible for watch this movie'
    else print 'you are not eligible for watch this movie'

In [43]:
name=input('pls enter your name'  )
age=input('pls enter your age')
age=int(age)
if age>10 and (name[0]=='a' or name[0]=='A'):
    print('you are eligible for watch this movie')
else:
    print('you are not eligible for watch this movie')

pls enter your nameAmit
pls enter your age2
you are not eligible for watch this movie

# list

In [44]:
number=[1,2,3,4,5]
print(number,type(number))

[1, 2, 3, 4, 5] <class 'list'>

In [50]:
number.append('mango')
print(number)

[1, 2, 3, 4, 5, 'mango', 'mango', 'mango', 'mango', 'mango', 'mango']

In [51]:
print(number)

[1, 2, 3, 4, 5, 'mango', 'mango', 'mango', 'mango', 'mango', 'mango']

In [54]:
fruits=[]
fruits.append('ram')
fruits

['ram']

In [57]:
name=['ram','rohit','sunil']
#if we want add "sohan " in first position
name.insert(0,'sohan')
print(name)
name.insert(1,'syam')
print(name)

['sohan', 'ram', 'rohit', 'sunil']
['sohan', 'syam', 'ram', 'rohit', 'sunil']

In [58]:
# How to joint two list 
fruits1=['mango','orange']
fruits2=['graps','apple']
fruits=fruits1+fruits2
print(fruits)

['mango', 'orange', 'graps', 'apple']

In [60]:
#extend method in list
user1=['sohan','rohan']
user2=['ram','rahim']
user1.extend(user2)
print(user1)
print(user2)

['sohan', 'rohan', 'ram', 'rahim']
['ram', 'rahim']

In [61]:
user1.append(user2)
print(user1)

['sohan', 'rohan', 'ram', 'rahim', ['ram', 'rahim']]

In [65]:
#pop data from list
name=['harsit','harsh','syam','sunil']
pop=name.pop(0)
pop1=name.pop(2)
print(name)
print(pop)
print(pop1)

['harsh', 'syam']
harsit
sunil

In [81]:
#delete operator in list
name=['harsit','harsh','syam','sunil']
del name[2]
name

['harsit', 'harsh', 'sunil']

In [82]:
#if we don't know the position of data than we remove method
name=['harsit','harsh','syam','sunil']
name.remove("syam")
name

['harsit', 'harsh', 'sunil']

In [85]:
#(in keyword in list)if we want to check data is available or not in our list
name=['harsit','harsh','syam','sunil']
if 'harsit' in name:
    print('harshit is present')
else:
    print('not present')

harshit is present

In [100]:
#count method Return the number of times the value "harsh" appears int the name list:
name=['harsit','harsh','harsh','syam','sunil']
x=name.count('harsh')
print(x)

2

In [102]:
#sort method in list
fruits = ["apple","cherry",'banana']
fruits.sort()
fruits

['apple', 'banana', 'cherry']

In [103]:
#clear method in list:
name=['harsit','harsh','harsh','syam','sunil']
name.clear()
name

[]

In [105]:
#copy method
name=['harsit','harsh','harsh','syam','sunil']
copy=name.copy()
copy

['harsit', 'harsh', 'harsh', 'syam', 'sunil']

In [109]:
#split method in list
user='ritesh,36'.split(',')
print(user,type(user))

['ritesh', '36'] <class 'list'>

In [111]:
#join method if we want to convert list to string
name=['harsit','harsh']
x=(','.join(name))
print(x,type(x))

harsit,harsh <class 'str'>

In [117]:
#list inside list
matrix=[[1,2,3],[4,5,6],[7,8,9]]
print(matrix[0])
print(matrix[0][2])

[1, 2, 3]
3

In [121]:
for num in matrix:
    for i in num:
         print(i)

1
2
3
4
5
6
7
8
9

In [122]:
num=list(range(1,11))
num

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [124]:
#min function in list
number=[2,3,4,5,6,7,8]
print(min(number))

2

In [125]:
#max function in list
print(max(number))

8

# Tuple